@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

html,
body,
#root {
  height: 100%;
}



.leaflet-container p{
  font-family: 'Merriweather', serif;
}
.leaflet-container button{
  font-family: 'Merriweather', serif;
}

.leaflet-container h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: large;
  font-weight: 700;
}

#map { height: 180px; }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  #homepage {
    scrollbar-width: auto;
    scrollbar-color: #f7ffe0;
  }

  /* Chrome, Edge, and Safari */
  #homepage ::-webkit-scrollbar {
    width: 10px;
  }

  #homepage ::-webkit-scrollbar-thumb {
    background-color: #f7ffe0;
    border-radius: 10px;
  }
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  #mappage {
    scrollbar-width: auto;
    scrollbar-color: #38A169;
  }

  /* Chrome, Edge, and Safari */
  #mappage ::-webkit-scrollbar {
    width: 10px;
  }

  #mappage ::-webkit-scrollbar-thumb {
    background-color: #38A169;
    border-radius: 10px;
    border:2px solid white
  }